body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    text-decoration: none; 
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

.myimage{
    width: 720px;
    height: 320px;
    object-fit: none;

}



.container{
    display:flex;
    justify-content: center;
    font-weight: normal;
    
}
.nav_bar{

    display: flex;
    justify-content: center;
    column-gap: 30px;
    font-weight: normal;
    text-decoration: none;
  
   
}

header a{
    font-weight: normal;
    color:black;
    text-decoration: none;
    

}
.brandname{
    font-size: 14px;
}

.mynav{
    font-weight: normal;
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.mynav a{
    font-weight: normal;
    color: black;
    text-decoration: none;

}



.boxed_shop_now a{
    color:black;
    text-decoration: none;
   

}
.cart_image{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: -30px;
    
    
}

.group_images{
    display:flex;
    justify-content: center;
    
   
}
.footer{
    display: flex;
    justify-content: center;
}

.topics{
    /*display: flex;
    justify-content: center;*/
    font-weight: normal;
    text-align: center;
    font-size: 17px;

    
}


.shopNow {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.spanShop {
    font-size: 14px;
    border: 2px solid black;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
}

/*mens outerwear page css*/


.nav_bar{
    font-size: 15px;
}
.main-image{
    display: flex;
    justify-content: center;

}

.main-text {
    display: flex;
    justify-content: center;
    font-size: 17px;
}
.total-count{
    display: flex;
    justify-content: center;
    opacity: 0.6;
    margin-top: -30px;

}
.mainbody{
    display: flex;
    height:2000px;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 130px;
    column-gap: 180px;
    
}
.menswear{
    margin-top: 10px;


}
.text{
    margin-top: 70px;
    display: flex;
    font-weight: normal;
    justify-content: center;
}
.opaque-price{
    margin-top: -30px;
    display: flex;
    opacity: 0.6;
    justify-content: center;

}

/* product details page*/

.details{
    display: flex;
    flex-direction: row;
    margin: 100px;
  
}
.imagedisplay{
    display: flex;    
    height:650px;
    margin-left:200px;
}
.description{
    display: flex;
    flex-direction: column;
}

.producttext{
    margin-right: auto;
    margin-left: 90px;
    font-size: 23px;
}
.productprice{
    margin-top: -30px;
    font-size: 18px;    
    margin-left: 90px;
    opacity: 0.6;

}

.size{
    margin-left: 90px;
    font-size: 15px;
}
.quantity{
    margin-left: 90px;
    font-size: 15px;
}
.desc{
    margin-left: 90px;
    
}

#size{
    /*display: block;
    font-size: 16px;
    padding: 8px 200px;*/
    border: none;
    background-color: white;
    height:40px;
    width:355px;
    border-bottom: 2px;
    font-size: 15px;
   
}
#quantity{
    /*display: block;
    font-size: 12px;
    padding: 8px 210px;*/
    border: none;
    background-color: white;
    height:40px;
    width:330px;
    border-bottom: 2px;
    font-size: 15px;
   
   

}
.product{
    opacity: 0.6;
    margin-left: 90px;
    margin-right: 300px;

}
.back-arrow{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    margin-top: -30px;
}

.breakline{
    margin-left: 90px;
    width:400px;
    opacity: 0.7;
}

.button{
    margin-top: 40px;
    width:200px;
    height:40px;
    font-weight: bold;
    background-color:white;
    border: 3px solid black;
}

/*cart page*/

.yourcart{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 17px;
}

.itemscount{
    display: flex;
    justify-content: center;
    opacity: 0.5;
    margin-top: -10px;
}
.cartelements{
    display: flex;
    margin-left: 480px;
    margin-top: 60px;
    height:80px;
    column-gap: 100px;

}
.carttext{
    display: flex;
    align-items: center;
    margin-left: -70px;
}
.quantityincart{
    margin-top: 30px;
    opacity: 0.7;
}
.cartItemsdetails{
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.7;
}

.totalAmount{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-left:300px;
}

.checkout{
    width:200px;
    height:40px;
    margin-left: 100px;
    background-color:white;
    border: 1px solid black;
}

/*checkout page*/
.toptext{
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-top: 70px;
}
.checkoutdetails{
    display: flex;
    margin-left: 200px;

}
.detailsfield{
    opacity: 0.7;
    
}
.checkoutContainer{
    display: flex;
}
.checkoutNestedContainer1{
    margin-left: 450px;
}
.checkoutNestedContainer2{
    margin-left: 80px;
}

.checkoutFormHeading{
    margin-bottom: 30px;
    font-weight:bold;
    font-size: 13px;
}
.checkoutInput{
    width:400px;
    padding-bottom: 8px;
    border:none;
    font-size: 17px;
    border-bottom: 1px solid rgb(179, 177, 177);
    margin-bottom: 30px;
    background-color: white;    
}
.formState{
    width:200px;
}
.expiryMonth{
    width:130px;
    margin-right: 7px;
}
.checkoutOrderDiv{
    width:400px;
    flex-wrap: wrap;
    column-gap: 100px;
    justify-content: space-between;
    row-gap: 20px;
    display: flex;
    font-size: 13px;
    line-height: 9px;
    margin-bottom: 35px;
}

.placeorder{
        width:200px;
        height:40px;
        background-color:white;
        border: 2px solid black;
    
}


